<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Enemy01_Green_Frame_1_png_processed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{63,1},{64,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemy01_Red_Frame_1_png_processed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{63,67},{64,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy02Green_Frame_1_png_processed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{64,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{119,1},{64,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemy02_Teal_Frame_1_png_processed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{64,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{129,67},{64,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Exhaust_Frame_01_png_processed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{17,25}</string>
                <key>spriteSourceSize</key>
                <string>{23,29}</string>
                <key>textureRect</key>
                <string>{{175,1},{17,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Laser_Small_png_processed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,18}</string>
                <key>spriteSourceSize</key>
                <string>{6,18}</string>
                <key>textureRect</key>
                <string>{{175,47},{6,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Minigun_Small_png_processed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,17}</string>
                <key>spriteSourceSize</key>
                <string>{7,17}</string>
                <key>textureRect</key>
                <string>{{175,28},{7,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlayerBlue_Frame_01_png_processed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlayerRed_Frame_01_png_processed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,65},{60,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ifx.png</string>
            <key>size</key>
            <string>{194,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d90178c5b1b34ddbe4d800f4ad87e81:717d7d80110e77c92e089dfa5462f89e:53547d87ff93e4115af1179c8457db62$</string>
            <key>textureFileName</key>
            <string>ifx.png</string>
        </dict>
    </dict>
</plist>
